# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#Carpetas

Ej0_blinky/
Ej1_pushButton/
Ej2_uart/
Ejercicio_delayNB_1/
GPO/
Test002/
Clase01 Limpio/
3Led_on_F401RE/
Clase02_Revision/
SPI_Test_00/
Example_BMP280/
BMP180_F4DISC_test/
PDM_Practica3-main/
BMP180_F401RE/
I2C_Scanner/
LCD_F401RE/
lcd20x4/

